<!DOCTYPE html>
{% extends "base.html" %}

    {% block content %}
    
    <div>&nbsp;</div>

    <a href="about.html" class="btn btn-info btn-lg">How it works</a>
    <a href="signup.html" class="btn btn-info btn-lg">Sign Up</a>
    <a href="signin.html" class="btn btn-info btn-lg">Sign In</a>
    
    <ul>
        {% for post in posts %}
            <li>
                {{ post.title }} (written by {{ post.author.nickname() }})

                {{ post.content }}
            </li>
        {% endfor %}
    </ul>

{% endblock %}